<h1>Login</h1>
<% if flash[:login_error] %>
    <p><%= flash[:login_error] %></p>
<% end %>

<%= form_for @user, url: profile_path, method: :post do |f| %>
<p>
    <%= f.label :name %>
    <%= f.text_field :name %>
</p>

<p>
    <%= f.label :password %>
    <%= f.password_field :password %>
</p>

<p>
    <%= f.submit "Login" %>
    Or <%= link_to(controller: 'users', action: 'new') {'Sign up'} %>
</p>

<% end %>
