<div class="form">

    <%= form_for @userbookreview do |f| %>

       <%= f.hidden_field :user_id, value: session[:user_id]%>
    <p><%= f.label :book %></p>
    <p><%= f.collection_select :book_id, Book.all, :id, :title %></p><br>

    <p><%= f.label :review %></p>
    <p><%= f.text_area :review %></p><br>

    <p><%= f.label :rating %></p>
    <p><%= f.select :rating, (1..10) %></p><br>

    <p><%= f.submit "Submit Review" %></p>
    <% end %>
</div>