<h1 class="header">Hi, <%= @user.name.capitalize %></h1>
<h2 id="logout"><%= link_to "Logout", logout_path %></h2><br>

<div class="profile">
    <% @user.user_book_reviews.each do |u| %>

        <h2 id="profile_book"><%= link_to u.book_name, book_path(u.book_id) %></h2>
        <p>Author: <%= link_to u.book.author.name, author_path(u.book.author_id) %></p>
        <p>Genre: <%= link_to u.book.genre.name, genre_path(u.book.genre_id) %></p>
        <p>Review: <%= u.review %></p>
        <p>Rating: <%= u.rating  %></p>
        <p><%= link_to "Edit form", edit_user_book_review_path(u.id) %></p><br>

    <% end %>
</div>