<h1 class="header"><%= @user.name %></h1><br>

<div class="user_books">
    <% @user.user_book_reviews.each do |u| %>

        <h2><%= u.book_name %></h2>
        <p>Author: <%= u.book.author.name %></p>
        <p>Genre: <%= u.book.genre.name %></p>
        <p>Review: <%= u.review %></p>
        <p>Rating: <%= u.rating  %></p>
 
    <% end %>
</div>