<!DOCTYPE html>
<html>
  <head>
    <title>Bookshelf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/flatly/bulmaswatch.min.css">
  </head>

  <body>
    <div class = navbar>
      <div><%= link_to "My Profile", profile_path %></div>
      <div><%= link_to "Authors", authors_path %></div>
      <div><%= link_to "Genres", genres_path %></div>
      <div><%= link_to "Books", books_path %></div>
      <div><%= link_to "View User Profiles", users_path %></div>
      <div><%= link_to "Create a Review", new_user_book_review_path %></div>
  </div>
    <%= yield %>
  </body>
</html>
